<app-sidebar></app-sidebar>
<app-navbar></app-navbar>


<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-top: 100px">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-list-ul" aria-hidden="true" style="margin-right: 10px"></i>

            History
            <div class="card-action">
              <div class="dropdown">
                <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                  <i class="icon-options"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="javascript:void();">Action</a>
                  <a class="dropdown-item" href="javascript:void();">Another action</a>
                  <a class="dropdown-item" href="javascript:void();">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="javascript:void();">Separated link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush table-borderless">
              <thead>
              <tr>
                <th>Date</th>
                <th>Child Name</th>
                <th>Shop Name</th>
                <th>Total</th>


              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let history of histories ">
                <td>{{history.date}}</td>
                <td>{{history.child}}</td>
                <td>{{history.shop}}</td>
                <td>{{history.total}}</td>



              </tr>



              </tbody></table>
          </div>
        </div>
      </div>
    </div><!--End Row-->

  </div>
</div>
