<head>

</head>

<body class="bg-theme bg-theme5">

    <div id="wrapper" class="animate__animated animate__backInDown">

        <div class="height-100v d-flex align-items-center justify-content-center">
            <div class="card card-authentication1 mb-0">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="card-title text-uppercase pb-2">Account validation</div>
                        <p class="pb-2">Please enter your token address.</p>
                        <form (ngSubmit)="onSubmit(validateForm.value)" #validateForm="ngForm">
                            <div class="form-group">
                                <label for="exampleInputEmailAddress" class="">Token Address</label>
                                <div class="position-relative has-icon-right">
                                    <input type="text" id="exampleInputEmailAddress" class="form-control input-shadow" placeholder="Email Address" ngModel name="token">
                                    <div class="form-control-position">
                                        <i class="icon-envelope-open"></i>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-light btn-block mt-3">Validate</button>
                        </form>
                    </div>
                </div>
                <div class="card-footer text-center py-3">
                    <p class="text-warnin mb-0">Return to the <a routerLink=""> Sign In</a></p>
                </div>
            </div>
        </div>



    </div>